@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lemonada:wght@300..700&family=Rajdhani:wght@600&display=swap');
.center{
  
  width: 1442px;
  margin: 0 auto;
  margin-top: 40px;
}

.tasks-title{
  color: #363636;
}

.no-asign{
  font-size: 11.5px;
  color: red;
  margin-left: 5px;
}

.input-habit{
  background-color: transparent;
  border: 0;
  height: 30px;
  /* border-bottom: 1px solid rgb(75, 75, 75); */
  color: #a434e9;
  font-weight: 500;
  font-size: 17px;
  max-width: 200px;
  font-family: "Inter";
  /* box-shadow: inset 0px 2px 3px 3px #272727; */
  /* box-shadow: 3px 4px 1px #584545; */
}

.input-habit::placeholder{
  color: #363636;
}

.input-habit:focus{
  outline: none;
}

.week-day-for-asign{
  font-size: 13.5px;
  color: rgb(133, 132, 132);
  margin-left: 11px;
  transition: 0.7s;
}

.week-day-for-asign:hover{
  font-size: 18.5px;
}

.day-asign{
  color: rgb(67, 236, 0);
}

.habit {
  position: relative
}

.habit-maker {
  position: absolute;
}

li, input {
  cursor: pointer;
}

h1 {
  margin: 0 0;
  font-size: 60px;
  font-family: "Inter";
}

h2 {
  margin: 10px 0
}

li {
  color: #a434e9;
  font-weight: 500;
  font-size: 17px;
  font-family: "Inter";
}

.habit-list-test{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 100px;
}


.habit-list{
  margin-left: 10px;
  margin-bottom: 100px;
}

.habit-list .habit:hover{
  border-bottom: 2px solid rgb(39, 39, 39);
}

ul {
  padding: 0px 0px;
  list-style-type: none;
  margin: 0;
}
.week-container {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.week-day-card {
  min-height: 290px;
  min-width: 180px;
  background-color: #202020;
  box-shadow: 3px 4px 1px #4A0176;
  overflow: hidden; 
  padding: 20px 20px;
  box-sizing: border-box;
}



.check-habits {
  display: flex;
  gap: 3px;
}
